# If direnv is available, this will automatically load the venv in shells
# This .envrc will have to be approved (once) to allow it to be run (for security)

# On osx, direnv can be install with homebrew,
#      brew install direnv
# Then (for zsh)
#      printf  "\neval \$(direnv hook zsh)\n" >> ~/.zshrc
# On linux/wsl
#      curl -sfL https://direnv.net/install.sh | bash
#      printf  "\neval \$(direnv hook bash)\n" >> ~/.bashrc

if [[ -f .venv/bin/activate ]]; then
    source .venv/bin/activate
else
    printf '\n*** no .venv: run make setup && direnv reload \n\n'
fi
